-----
# 17FEB
-----

Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is stored and managed to allow for efficient retrieval and manipulation. SQL databases are relational and use tables to store data, while NoSQL databases are non-relational and use a variety of data models to store unstructured and semi-structured data. SQL databases are ideal for handling structured data and complex transactions, while NoSQL databases are better suited for handling unstructured and semi-structured data that require quick and agile data access and retrieval.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define the structure and organization of a database. DDL statements are used to create, modify, and delete the database objects such as tables, views, indexes, procedures, triggers, and so on

In [ ]:
CREATE TABLE look (
    id INT PRIMARY KEY,
name VARCHAR(50),
age INT,
height DECIMAL(10,2)
);

DROP: The DROP statement is used to remove a database object such as a table, view, index, or trigger

In [ ]:
DROP TABLE look;`

ALTER: The ALTER statement is used to modify the structure of an existing database object such as a table or a view

In [ ]:
ALTER TABLE look ADD COLUMN help VARCHAR(50);

TRUNCATE: The TRUNCATE statement is used to remove all data from a table while keeping the table structure intact.

In [ ]:
TRUNCATE TABLE look;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a sublanguage of SQL used to manipulate data in relational databases. DML commands are used to insert, update, and delete data in database tables. Here are the explanations of these three commands with examples:

INSERT - The INSERT command is used to insert new data into a database table.
UPDATE - The UPDATE command is used to modify existing data in a database table.
DELETE - The DELETE command is used to remove data from a database table

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a sublanguage of SQL used to retrieve data from a database. DQL commands are used to query data from database tables

In [ ]:
SELECT * FROM students;

Q5. Explain Primary Key and Foreign Key.

- Primary Key - The primary key is used to uniquely identify each row in a table. It ensures that each row has a unique identifier and can be easily referenced from other tables. It is often created using an auto-incrementing integer column, but it can also be a combination of columns that together form a unique identifier.
- Foreign Key - A foreign key is used to link two tables together. It is a column in one table that refers to the primary key of another table. It ensures that the data is consistent across tables and allows us to establish relationships between them.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
dbms = mysql.connector.connect(
    host = 'local'
    user = 'root'
    password = '....'
)
cursor_obj = dbms.cursor()
cursor_obj.execute('SELECT * FROM students')
for i in dbms.fetchall():
    print(i)
dbms.close()

cursor() method is used to create a cursor object
execute() method runs on cursor object and runs the sql query given inside.

In [ ]:
SELECT DISTINCT <TOP_specification> <select_list>
FROM <left_table>
<join_type> JOIN <right_table>
ON <join_condition>
WHERE <where_condition>
GROUP BY <group_by_list>
HAVING <having_condition>
ORDER BY <order_by_list>