-----------
# 17FEB
-----------

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a NoSQL, document-oriented database that stores data in a flexible, JSON-like format. Non-relational databases like MongoDB are preferred in scenarios that require high scalability, flexibility, and agility, as they allow for rapid development and iteration. MongoDB is well-suited for applications that require unstructured or semi-structured data storage, horizontal scalability, real-time analytics, and high availability, while SQL databases are typically better suited for applications with a fixed schema and strong transactional requirements.

Q2. State and Explain the features of MongoDB.

MongoDB has several features that make it a popular NoSQL database choice. It has a flexible data model, which allows it to store data in a variety of formats, including JSON-like documents, and supports dynamic schemas that can be changed on-the-fly. MongoDB also has built-in horizontal scaling, replication, and failover capabilities, as well as support for distributed ACID transactions. Additionally, MongoDB provides a rich set of query and aggregation capabilities, indexing, and text search, making it well-suited for real-time analytics and data processing. Finally, MongoDB has a large and active developer community, which provides support and contributes to ongoing development and improvement of the database.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [34]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://rizamohammad313:<password>@cluster1.rxdjp1m.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db2 = client['Hello']
coll = db2['coll1']

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [35]:
coll.insert_one({'name':'Ahamad','roll no ': 44})
data = [{'name':'Mohammad','roll no ': 47},
        {'name':'Abbas','roll no ':48},
        {'name':'Ali','roll no ': 49},
        {'name':'Hassan','roll no ': 50},
        {'name':'khan','roll no ':51},
        {'name':'loop','roll no ':52},
        {'name':'help}','roll no ':53}]
coll.insert_many(data)

In [36]:
for i in coll.find():
    print(i)

{'_id': ObjectId('63f053de192c10702661d347'), 'name': 'Riza mohammad Khan', 'roll no ': 45}
{'_id': ObjectId('63f0548c192c10702661d349'), 'name': 'Ahamad', 'roll no ': 44}
{'_id': ObjectId('63f0548d192c10702661d34a'), 'name': 'Mohammad', 'roll no ': 47}
{'_id': ObjectId('63f0548d192c10702661d34b'), 'name': 'Abbas', 'roll no ': 48}
{'_id': ObjectId('63f0548d192c10702661d34c'), 'name': 'Ali', 'roll no ': 49}
{'_id': ObjectId('63f0548d192c10702661d34d'), 'name': 'Hassan', 'roll no ': 50}
{'_id': ObjectId('63f05685192c10702661d350'), 'name': 'Ahamad', 'roll no ': 44}
{'_id': ObjectId('63f05686192c10702661d351'), 'name': 'Mohammad', 'roll no ': 47}
{'_id': ObjectId('63f05686192c10702661d352'), 'name': 'Abbas', 'roll no ': 48}
{'_id': ObjectId('63f05686192c10702661d353'), 'name': 'Ali', 'roll no ': 49}
{'_id': ObjectId('63f05686192c10702661d354'), 'name': 'Hassan', 'roll no ': 50}
{'_id': ObjectId('63f05686192c10702661d355'), 'name': 'khan', 'roll no ': 51}
{'_id': ObjectId('63f05686192c10702661d356'), 'name': 'loop', 'roll no ': 52}
{'_id': ObjectId('63f05686192c10702661d357'), 'name': 'help}', 'roll no ': 53}

In [37]:
coll.find_one({'roll no ':49})

{'_id': ObjectId('63f0548d192c10702661d34c'), 'name': 'Ali', 'roll no ': 49}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [38]:
for i in coll.find({'roll no ':{'$lt':49}}):
    print(i)

{'_id': ObjectId('63f053de192c10702661d347'), 'name': 'Riza mohammad Khan', 'roll no ': 45}
{'_id': ObjectId('63f0548c192c10702661d349'), 'name': 'Ahamad', 'roll no ': 44}
{'_id': ObjectId('63f0548d192c10702661d34a'), 'name': 'Mohammad', 'roll no ': 47}
{'_id': ObjectId('63f0548d192c10702661d34b'), 'name': 'Abbas', 'roll no ': 48}
{'_id': ObjectId('63f05685192c10702661d350'), 'name': 'Ahamad', 'roll no ': 44}
{'_id': ObjectId('63f05686192c10702661d351'), 'name': 'Mohammad', 'roll no ': 47}
{'_id': ObjectId('63f05686192c10702661d352'), 'name': 'Abbas', 'roll no ': 48}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [39]:
# delete one is used to delete one document
coll.delete_one({'name':'Riza mohammad khan'})
coll.delete_one({'name':'Abbas'})

In [42]:
#delete many is used to delete more than one document
coll.delete_many({'roll no ':{'$gte':50}})

In [44]:
#drop is used to delete entire collection
coll.drop()

Riza mohammad khan