----
# 23FEB
----

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
series = pd.Series([4, 8, 15, 16, 23, 42])
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
var = list(range(2,23,2))
series2= pd.Series(var)
series2

0      2
1      4
2      6
3      8
4     10
5     12
6     14
7     16
8     18
9     20
10    22
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [8]:
dataframe = pd.DataFrame({'Name':['Alice', 'Bob', 'Claire'],'Age':[25, 30, 27],'Gender':['Female', 'Male', 'Female']})
dataframe

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Dataframe in pandas is a 2 dimensional object which stores the data in tabular form while Series in pandas is a 1 dimensional object which stores data in a index list like structure
note: the rows/columns of dataframe are series

In [11]:
# e.g
print(dataframe)
print()
print(series2.head(3))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

0    2
1    4
2    6
dtype: int64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable in nature, while Panel is now deprecated in the latest version of pandas and has been replaced by the MultiIndex DataFrame, but it was also mutable.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas offers a wide range of functions to manipulate data in a DataFrame. Some common functions are:

head() and tail(): These functions allow you to view the first or last n rows of your DataFrame, respectively. You can use them to quickly check the structure and content of your data. For example, df.head() will return the first five rows of the DataFrame df.
drop(): This function allows you to drop one or more columns or rows from your DataFrame. You can use it to remove unnecessary data or missing values. For example, df.drop('Column_name', axis=1) will drop the column 'Column_name' from the DataFrame df.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [33]:
s = pd.Series(['Name','Riza', 'Mohammad', 'Khan'])
s2 = pd.Series(['id',1,2,3])
dataframe2 = pd.DataFrame(s,s2)

In [34]:
dataframe2

           0
id       NaN
1       Riza
2   Mohammad
3       Khan