------
# 24FEB
------

Q1. List any five functions of the pandas library with execution.

In [1]:
import datetime

import pandas as pd
maindict = {'Name':['Riza','Zeeshan','Hashim'],'Field':['CSE','MEDICAL',"HASHIM"],'age':[19,19,21]}

In [3]:
# .DataFrame() is used to construct dataframe object
main_data = pd.DataFrame(maindict)
main_data

      Name    Field  age
0     Riza      CSE   19
1  Zeeshan  MEDICAL   19
2   Hashim   HASHIM   21

In [5]:
# .describe() is used get info about different columns (mainly numerical) if numerical data is not present then string info i displayed
main_data.describe()

             age
count   3.000000
mean   19.666667
std     1.154701
min    19.000000
25%    19.000000
50%    19.000000
75%    20.000000
max    21.000000

In [6]:
# .Series is used to create Series object
main_list = ['Roll_no',3,2,1]
pd.Series(main_list)

0    Roll_no
1          3
2          2
3          1
dtype: object

In [7]:
# .dtypes tell us data stored in each column
main_data.dtypes

Name     object
Field    object
age       int64
dtype: object

In [9]:
# pd.read_csv() is used to read a file
with open('HELLO.csv','w') as f:
    f.write('Basic_Series\n')
    for i in range(1,10):
        f.write(str(i)+'\n')
dh = pd.read_csv("HELLO.CSV")
dh

   Basic_Series
0             1
1             2
2             3
3             4
4             5
5             6
6             7
7             8
8             9

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [33]:
df = pd.DataFrame({'A':[1,2,3],'B':[10,20,30],'C':[100,200,300]})
def indexer(d):
    d['index'] =[i for i in range(1,2*len(d),2)]
    return d.set_index('index')
indexer(df)

       A   B    C
index
1      1  10  100
3      2  20  200
5      3  30  300

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [36]:
df_1 = pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
def sum_to_3(d):
    return d.loc[0:2,'Values'].sum()
sum_to_3(df_1)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [37]:
df_2 = pd.DataFrame({'Text':['This','is','my','second','dataframe']})
def count(d):
    d['Word_Count']=d['Text'].map(lambda x : len(x))
    return d
count(df_2)

        Text  Word_Count
0       This           4
1         is           2
2         my           2
3     second           6
4  dataframe           9

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size returns the integer and total number of elements
While
DataFrame.shape() returns the tuple containing number of elements at different

Q6. Which function of pandas do we use to read an excel file?

pd.read_excel() is used to read an excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
    email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [46]:
db = pd.DataFrame({'Email':['ABC@gmail.com','cde@gmail.com','john.doe@gmail.com']})
def user_extract(d):
    d["Username"]=d["Email"].map(lambda x: x.split('@')[0])
    return d
user_extract(db)

                Email  Username
0       ABC@gmail.com       ABC
1       cde@gmail.com       cde
2  john.doe@gmail.com  john.doe

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [63]:
df4 = pd.DataFrame({'A':[3,8,6,2,9],
                    'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
df4[(df4['A']>5) & (df4['B'] < 10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [67]:
df5 = pd.DataFrame({'values':[10,11,12,23,21,34,31,213,4,45,4,3]})
def m_m_s(d):
    return pd.DataFrame({'mean':[d['values'].mean()],
                         'median':[d['values'].median()],
                         'std':d['values'].std()})
m_m_s(df5)

    mean  median        std
0  34.25    16.5  57.847959

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [94]:
# DATA FOR QUESTION NOT PROVIDED

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [93]:
db1 = pd.DataFrame({'Date':['2023-01-01'
                           ,'2023-01-02'
                           ,'2023-01-03'
                            ,'2023-01-04'
                           ,'2023-01-05']})
def date_to_day(db):
    import datetime as dt
    def dd(date):
        c = date.split('-')
        return {0:'Sunday',1:'Monday',2:"Tuesday",3:'Wednesday',4:'Thursday',5:'Friday',6:'Saturday'}[dt.datetime(int(c[0]),int(c[1]),int(c[2])).weekday()]
    db['Day number']=db['Date'].map(dd)
    return db
date_to_day(db1)

         Date Day number
0  2023-01-01   Saturday
1  2023-01-02     Sunday
2  2023-01-03     Monday
3  2023-01-04    Tuesday
4  2023-01-05  Wednesday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [121]:
L = [datetime.datetime(2023,j,i) for j in range(1,13) for i in range(1,28)]
df = pd.DataFrame({"Date":L})
def date_sel(i,f,df):
    return df[(df['Date']>i) & (df['Date'] < f) ]
initial = datetime.datetime(2023,1,1)
final = datetime.datetime(2023,1,31)
date_sel(initial,final,df)

         Date
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

pandas needs to be imported